.cell {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 72px;
    height: 72px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 72px;
  }

  .empty {
      background: #999999;
  }

  .row {
      clear: left;
  }

  .grid {
      width: 576px;
      margin: 0 auto;
  }

  .instructions {
      clear:left;
      text-align: center;
      margin: 5em;
  }
